# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

.git/
*.rar
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# Vite
*.timestamp-*-*.mjs




# Variables de entorno
.env
.env.local
.env.*.local

# Dependencias
node_modules/
pnpm-lock.yaml     # ⚠️ Opcional: subir o ignorar (ver nota abajo)
package-lock.json  # ⚠️ Opcional: subir o ignorar
yarn.lock          # ⚠️ Opcional: subir o ignorar

# Archivos de construcción
dist/
dist-ssr/
*.local

# Archivos de cobertura de pruebas
coverage/
*.lcov

# Archivos de editor
.vscode/
.idea/
*.swp
*.swo
*~
